@charset "utf-8";
/* CSS Document */

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	padding: 15px;
	font-family: "segoe UI", Tahoma, Geneva, Verdana, Sans-serif;
	line-height: 1.5;
}

header{
	margin: 0 0 15px 0;
}

header *{
	display: inline-block;
}
header, footer{
	background-color: dimgray;
	color: #fff;
	padding: 15px;
}
footer{
	/* font-size: 1.2em; */
	border: 2px solid #000;
}
footer span{
	color: yellow;
}

main{
	height: 75vh;
}
main div#set-1 label{
	margin-left: 20px;
}
main div#set-1 label select{
	padding: 10px;
	cursor: pointer;
}

main a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
}
main a:hover{
	opacity: .7;
}

ul#set-1{
	/* width: 100%; */
	list-style: none;
	white-space: nowrap;
	padding: 5px;
	overflow: auto;
}
ul#set-1 li.row{
	background-color: yellow;
	margin: 5px 0 5px 0;
	padding: 5px;
}
ul#set-1 li.row div{
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
	/* border: 1px solid yellow; */
}

main a,
ul#set-1 li.grps-head div.column-cap,
ul#set-1 li.grps-body{
	transition: all 0.5s ease;
}
ul#set-1 li.grps-body{
	cursor: pointer;
}
ul#set-1 li.grps-head div.column-cap:hover,
ul#set-1 li.grps-head div.column-cap.selected,
ul#set-1 li.grps-body div.grps-data:hover,
ul#set-1 li.grps-body div.grps-data.selected{
	background-color: #80c1ff;
	border: 1px solid red;
}
ul#set-1 li div.grps-num{
	width: 50px;
}
ul#set-1 li div.grps-names{
	width: 150px;
}
ul#set-1 li.grps-total  div.grps-data,
ul#set-1 li div.grps-total{
	background-color: #ffe6e6;
}
ul#set-1 li div.grps-total,
ul#set-1 li div.grps-data{
	width: 80px;
}
ul#set-1 li div.grps-data{
	cursor: pointer;
}

.controllers{
	padding: 10px;
	border: 1px solid #ccc;
}

.forms,
footer{
	font-size: 1.2em;
}
footer{
	/* height: 10px; */
	padding: 5px 0 5px 10px;
}

.txt-inputs{
	border: none;
	outline: none;
}

ul#set-1 li.row.sel-row{
	background-color: rgba(76, 206, 86, 0.5);
}

.sel-column{
	background-color: #cbe4fc;
}

.add{
	background-color: rgb(0, 128, 0);
}
.change{
	background-color: rgb(209, 129, 8);
}
.remove{
	background-color: rgb(196, 44, 7);
}