@charset "utf-8";
/* CSS Document */

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	padding: 15px;
	font-family: "segoe UI", Tahoma, Geneva, Verdana, Sans-serif;
	line-height: 1.5;
}

header{
	margin: 0 0 15px 0;
}

header *{
	display: inline-block;
}
header, footer{
	background-color: dimgray;
	color: #fff;
	padding: 15px;
}
footer{
	font-size: 1.2em;
	border: 2px solid #000;
}
footer span{
	color: yellow;
}

main{
	height: 75vh;
}

ul#set-1{
	/* width: 100%; */
	list-style: none;
	white-space: nowrap;
	padding: 5px;
	overflow: auto;
}
ul#set-1 li.row{
	background-color: yellow;
	margin: 5px 0 5px 0;
	padding: 5px;
}
ul#set-1 li.row div{
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid yellow;
}
ul#set-1 li.row div strong, ul#set-1 li.row div span{
}
ul#set-1 li.grps-head div.column-cap{
	transition: all 0.5s ease;
}
ul#set-1 li.grps-head div.column-cap:hover,
ul#set-1 li.grps-head div.column-cap.selected,
ul#set-1 li.grps-body div.grps-data:hover,
ul#set-1 li.grps-body div.grps-data.selected{
	background-color: #80c1ff;
	border: 1px solid red;
}
ul#set-1 li div.grps-num{
	width: 50px;
}
ul#set-1 li div.grps-names{
	width: 150px;
}
ul#set-1 li.grps-total  div.grps-data,
ul#set-1 li div.grps-total{
	background-color: #ffe6e6;
}
ul#set-1 li div.grps-total,
ul#set-1 li div.grps-data{
	width: 80px;
	/padding: 5px 0 5px 0;
}
ul#set-1 li div.grps-data strong,
ul#set-1 li div.grps-data span{
}
ul#set-1 li div.grps-data{
	cursor: pointer;
}

.controllers{
	padding: 10px;
	border: 1px solid #ccc;
}

.txt-inputs{
	font-size: 1.2em;;
	/* height: 10px; */
	padding: 5px 0 5px 10px;
	border: none;
	outline: none;
}

.sel-column{
	background-color: #cbe4fc;
}